@import "../../assets/styles/media.scss";

.card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.1s ease-in;

  &:hover {
    .card__wrapper {
      background-color: #ffffff;

      .card__button {
        color: #1d1d1d;
        border-bottom: 1px solid #1d1d1d;
      }
    }
  }

  .card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card__wrapper {
    padding: 25px;
    background-color: #8bb9bb;

    .card__price {
      font-size: 35px;
      color: #e1736d;
    }

    .card__features {
      margin: 35px 0;

      .card__item {
        line-height: 35px;
      }
    }

    .card__button {
      font-size: 11px;
      color: #ffffff;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 10px;
      border: 0;
      border-bottom: 1px solid #ffffff;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
  }
}
