@import "../../assets/styles/media.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include mobile {
    flex-direction: column;
  }

  .footer__left {
    @include mobile {
      text-align: center;
    }

    .footer__logo {
      width: 125px;
      filter: invert(100%);
    }

    .footer__text {
      margin-top: 15px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  .footer__right {
    .footer__link {
      .footer__icon {
        width: 100px;
      }
    }
  }
}
